<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - PakStream</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5427964157655690"
     crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/pakstream/css/style.css">
</head>
<body>
  <div id="nav-placeholder"></div>

  <main>
    {{ content }}

      <!-- Hyvor Talk Comments -->
    <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
    <hyvor-talk-comments
      website-id="13824"
      page-id="{{ page.url | slugify }}"
    ></hyvor-talk-comments>

  </main>

  <footer>
    <p>© 2025 PakStream. All rights reserved.</p>
  </footer>
  <script src="/pakstream/js/load-nav.js"></script>
</body>
</html>
